
.header{
    height: 55px;
    width: 100%;
    background-color: RGB(19, 26, 34);
    display: flex;
}
.img-container{
    height: 100%;
    width: 120px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    height: 90%;
    width: 100%;
}

.content-container{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hello{
    width: 160px;
    display: flex;
    justify-content: flex-start;
    font-size: small;
    color: white;
}
.Address{
    width: 160px;
    display: flex;
    justify-content: flex-start;
    font-weight:600;
    color: white;
}
.search-box{
    height: 100%;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-box input{
    height: 60%;
    width:650px;
    border-radius: 4px;
    border: none;
    margin-left: -180px;
}
.flag{
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}
.hello{
    width:160px;
    justify-content: flex-start;
    font-size: small;
}
.account{
    width: 160px;
    font-weight: 550;
    justify-content: flex-start;
}
.return-order{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.return{
    font-size: small;
}
.order{
    font-weight: 600;

}

.cart {
    position: relative;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.cart img{
    height: 100%;
    width: 100%;
}
.box{
    position: absolute;
    font-weight: bold;
    color:white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 45px;

}